DIFY_API_BASE=http://dify.qmniu.com/v1
DIFY_API_KEY=replace-with-your-dify-api-key
DIFY_RESPONSE_MODE=streaming
QUALITY_DIFY_API_BASE=http://dify.qmniu.com/v1
QUALITY_DIFY_API_KEY=replace-with-your-quality-workflow-api-key
QUALITY_DIFY_RESPONSE_MODE=blocking
LARK_CLI_AS=user
PORT=5175
